In [2]:
a=1,"this",56
print(type(a))

<class 'tuple'>

In [3]:
b,c,d=a
print(b)

1

In [4]:
li=(1,2,3,4)
n,*i,k=li
print(n)
print(i)
print(k)

1
[2, 3]
4

In [5]:
for _ in range(5):
    print("Hello!")

Hello!
Hello!
Hello!
Hello!
Hello!

In [1]:
students = [
    {'name': 'Alice', 'score': 88},
    {'name': 'Bob', 'score': 72},
    {'name': 'Charlie', 'score': 95},
    {'name': 'David', 'score': 65},
    {'name': 'Eve', 'score': 78}
]
sorted_students = sorted(students, key=lambda x: x['score'], reverse=True)
print("Sorted students by score in descending order:")
for student in sorted_students:
    print(student)

Sorted students by score in descending order:
{'name': 'Charlie', 'score': 95}
{'name': 'Alice', 'score': 88}
{'name': 'Eve', 'score': 78}
{'name': 'Bob', 'score': 72}
{'name': 'David', 'score': 65}